.food-info {
    padding: 30px 80px;
}

.food-info .text {
    margin-top: auto;
    margin-bottom: auto;
}

.food-info #food-quantity {
    border: 0;
    width: 40px;
    height: 40px;
    text-align: center;
}

.food-info .quantity-control {
    border: 0;
    width: 40px;
    height: 40px;
    background-color: white;
    color: #f91944;
    font-weight: bold;
}

.food-info .qc-minus {
    border-radius: 2em;
}

.food-info .qc-plus {
    border-radius: 2em;
}

.food-info .quantity-select {
    border: 1px solid grey;
    border-radius: 2em;
}
.food-info .add-rmv-btn{
    background-color: #f91944;
    border-radius: 2em;
    margin-top: 20px;
    padding: 10px 30px;
    border: none;
    color: white;
}
@media screen and (max-width: 415px) and (min-width: 321px) {
    .food-info .d-flex{
        display: block !important;
    }
    .food-info .quantity-select {
        width: 100% !important;
        text-align: center !important;
        margin-top: 15px !important;
    }
}
@media screen and (max-width: 415px){
    .food-info img{
        width: 100% !important;
        margin-top: 40px !important;
        margin-bottom: 0px !important;
    }
}