.font-default{
    font-weight: 400;
}
input:focus{
    outline: none;
}
.header{
    background-image: url(../../img/bannerbackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.search-btn{
    background-color: #f91944;
    color: white;
    border: 0;
    border-radius: 2em;
    padding: 10px 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}
.search-bar{
    background-color: white;
    color: rgb(0, 0, 0);
    border: 0;
    border-radius: 2em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px 30px;
    width: 60%;
}
