nav.navbar{
    background-color: white;
    color: black !important;
    padding: 15px 0px;
    text-align: center;
}
nav a{
    color: black;
}
.nav-item, .nav-link{
    color: black !important;
    font-weight: 600 !important;
}
.nav-item{
    margin: auto 10px;
}
.sign-up-btn{
    color: white !important;
    background-color: #f91944;
    padding: 5px 15px;
    border: 0;
    border-radius: 3em;
}
/* #f91944 */