.footer{
    background-color: rgb(32, 32, 32);
    color: white;
}
.footer ul{
    list-style: none;
    font-size: 15px;
    cursor: pointer;
}
.footer p{
    cursor: pointer;
}
@media screen and (max-width: 500px){
    .footer{
        text-align: center;
    }
    .footer img{
        width: 150px;
        margin-bottom: 30px;
    }
    .footer small{
        display: none;
    }
}