.login-container .login {
    background-color: transparent;
    border-radius: 10px;
    width: 30vw;
    padding: 20px;
}

.login-container {
    max-width: 100vw;
    min-height: 100vh;
}

.login-container .btn {
    background-color: #f91944;
}

.login-container small, .login-container span {
    color: #f91944;
    cursor: pointer;
}

.login-container button{
    border: 0;
}

.login-container{
    background-image: url("../../img/bannerbackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@media screen and (max-width: 1000px) {
    .login-container .login {
        background-color: transparent;
        border-radius: 10px;
        width: 80vw;
        padding: 20px;
    }
}
@media screen and (max-width: 370px) {
    .login-container .login {
        background-color: transparent;
        border-radius: 10px;
        width: 95vw;
        padding: 20px;
    }
    .login-container img{
        width: 60vw;
    }
}